[submodule "lib/eventapp"]
	path = lib/eventapp
	url = git@github.com:rranshous/eventapp.git
[submodule "lib/bubbles"]
	path = lib/bubbles
	url = git@github.com:rranshous/bubbles.git
[submodule "lib/revent"]
	path = lib/revent
	url = git@github.com:altalang/Revent.git
[submodule "lib/imgcompare"]
	path = lib/imgcompare
	url = git@github.com:rranshous/imgcompare.git
