ipython

requests
beautifulsoup4
redis_natives
decorator
PIL

https://github.com/andymccurdy/redis-py/tarball/master
configsmash
casconfig
https://github.com/rackspace/python-cloudfiles/tarball/master
pymongo
https://github.com/slacy/minimongo/tarball/master
flask
